# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear

# Crash dumps
*.exec

# Build directories
target/
build/
.gradle/
bin/
.settings/
.classpath
.project

.DS_Store